@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
    --orange: #f59f00;
    --black: #130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #ced4da;
}

/* Header */
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4%;
    background: #dee2e6;
    box-shadow: var(---box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--orange);
    font-size: 5.5rem;
}

.header .navbar a{
    font-size: 2rem;
    font-weight: 600;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}
.logo{
    letter-spacing: 18px;
}
.header .icons i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons i:hover{
    background: var(--orange);
    color: #fff;
}
#menu-btn{
    display: none;
}


/* ////////////////////HOME PAGE */


/* About Section */
.about-section{
    display: flex;
    gap: 20%;
    flex-direction: row;
    background-image: url(images/thailand-12.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    padding: 10% 4%;
}
.about-images{
    margin-left: 10%;
}
.about-images img{
    width: 280px;
    height: 290px;
    border-radius: 10px;
    border-top-left-radius: 35%;
}
.about-content{
    margin-top: 5%;
    line-height: 35px;
    letter-spacing: 5px;
    margin-right: 10%;
    font-weight: 600;
    font-size: 18px;
}
.about-content button{
    background-color: var(--orange);
    padding: 3% 12%;
    margin-top: 4%;
    border-radius: 15px;
    color:#eee;
    font-weight: 800;
}
.about-content h1{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 4%;
}
.firstimage{
    margin-bottom: 20%;  
}

.secondimage{
    margin-left:40%;
    margin-top: -61%;
}


/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div{
    margin-top: 2%;
    background-color: #080808;
    color: white;
    padding: 20px 55px;
    
}
.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* ************************hotels */
.southeast_hotels{
    text-align: center;
    font-size: 15px;
    margin-top: 3%;
}
.southeast_hotels h2{
font-size: 22px;
font-weight: 900;
margin-bottom: 2%;
}
.southeast_hotels h3{
    margin-bottom: 2%;
    font-weight: 550;
}

.magnificent{
    background-image: url(./images/tokrabi.jpeg);
    background-repeat: no-repeat;
   border-radius: 30px;

    
}
.magnificent img{
    width: 30%;
    height: 30%;
}
.khaolak{
    background-image: url(./images/khaolak.jpeg.jpeg);
    background-repeat: no-repeat;
    border-radius: 30px;
    
}
.paradise_island{
    background-image: url(./images/paradise_island.jpeg);
    background-repeat: no-repeat;
    border-radius: 30px;
  
}
.malasyia{
    background-image: url(./images/huahin.jpeg);
    background-repeat: no-repeat;
    border-radius: 30px;
}
.phuquoc{
    background-image: url(./images/malasyia.jpeg);
    border-radius: 30px;
    
}
.krabi{
    background-image: url(./images/phuquoc.jpeg);
    border-radius: 30px;
   
}
.hotels{
    display: grid;
 grid-template-columns: repeat(3,1fr);
 /* width: 1400px;
 height: 700px; */
 gap: 50px;
 /* background-image: url(./images/background.jpeg.jpeg);
 background-repeat: no-repeat;
 background-size: cover; */
 margin-left: 3%;

 
}
.text{
    margin-top: 80%;
    padding-left: 30px;
}
.text h4{
    font-weight: 900;
    font-size: xx-large;
    color:#eee;
}
.text h3,
.text h2{
    font-weight: bolder;
   font-style: italic;
    color: white;
    font-size: x-large;
}
#rating{
color: yellow;
}
/************************************Styling for the Locations Page*************************************/
@keyframes bounce{
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0);
    }
}  
/* body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

} */


.first{
    background-image: url(images/elepha.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 1%;
}
#image1{
    width: 45%;
    height: fit-content;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 5px;
    border-radius: 0px 155px ;

    
}
#image1:hover{
  transform: scale(1.05);
}

#image2:hover{
  transform: scale(1.05);
}

#image2{
    width: 45%;
    margin-left: -65%;
    margin-top: 25%;
    border-radius: 5px;
    height: fit-content;
    border-radius:155px 0px ;


    /* position: relative;
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* animation-iteration-count:inherit; */
    /* animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */ 


}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee-animation 20s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.second{
    margin-top: 2%;
    background-image: url(images/black.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#one{
    color: yellow;
    font-family:serif;
    font-size: 40px;
    font-style: italic;
}
#kenyaButton{
    border-radius: 20px;
    width: 150px;
    height: 50px;

        font-size: x-large;
        color:white;
        background-color:orange;
        border:solid 3px orange;
        padding: 5px;
        position: relative;
        animation-name: bounce;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        /* animation-iteration-count:inherit; */
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.images{
    display: flex;
    /* justify-content: space-between; */
}
#kenya{
    margin-top: 10%;
    margin-left: 10%;
}
#africa{
    font-family: Arial, Helvetica, sans-serif;
}
.content1{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: large;
}

.content1 video{
  z-index: 000;
  position: absolute;
  /* top: 0; */
  left: 50%;
  width: 50%;
  /* height: auto; */
  height: 100%;
  object-fit: cover;

}
.content{
    color: wheat;
    font-size: 25px;
    font-weight: 800;
    margin: -70% 0% 0 10% ;
    line-height: 60px;
}
.content h1{
    color: #fab005;
}
.content p{
    margin-right: 10%;
}
.media-icons{
    /* margin-top: -70%; */
    margin-left: 5%;
    margin-bottom: 25%;
    display: grid;
    color: wheat;
    font-size: 30px;
}
.media-icons a{
    font-style: none;
    color: wheat;
}
.content a{ 
    border-radius: 15px;
    margin-left: 20%;
    padding: 2% 4%;
    font-size: x-large;
    color:black;
    outline: none;
    /* color:white; */
    background-color:orange;
    border:solid 3px orange;

}
.content p{
    margin-bottom: 5%;
}
.about-images img:hover{
    transform: scale(1.05);
  }

  
  @keyframes my-animation {
    from {
      background-color: orange;
      width: 100%;
      top: 10px;
    }
    to {
      background-color: #33475b;
      width: 0px;
      top: 100px;
    }
  }

  #one {
    height: 50px;	
    overflow: hidden;
    position: relative;
   }
   #one {
    position: absolute;
    width: 20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    line-height: 50px;
    text-align: left;
   
    /* Apply animation to this element */	
    animation: one 2s linear;
   }
   /* Move it (define the animation) */
   @keyframes one {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
   } 
   #kenyaButton2{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin-left: 10%;

        font-size: x-large;
        color:black;
        outline: none;
        color:white;
        background-color:orange;
        border:solid 3px orange;
}
.slider{
    border-radius: 30px;
}