@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(---box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--orange);
    font-size: 5.5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}
.header .icons i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons i:hover{
    background: var(--orange);
    color: #fff;
}
#menu-btn{
    display: none;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div{
    background-color: #26004C;
    color: white;
    padding: 20px 55px;
    
}
.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* ************************hotels */
.southeast_hotels{
    text-align: center;

}
.southeast_hotels h2{
font-size: large;
margin-bottom: 2%;
}
.southeast_hotels h3{
    margin-bottom: 2%;
}

.magnificent{
    background-image: url(./images/tokrabi.jpeg);
    background-repeat: no-repeat;
   border-radius: 30px;

    
}
.magnificent img{
    width: 30%;
    height: 30%;
}
.khaolak{
    background-image: url(./images/khaolak.jpeg.jpeg);
    background-repeat: no-repeat;
    border-radius: 30px;
    
}
.paradise_island{
    background-image: url(./images/paradise_island.jpeg);
    background-repeat: no-repeat;
    border-radius: 30px;
  
}
.malasyia{
    background-image: url(./images/huahin.jpeg);
    background-repeat: no-repeat;
  
}
.phuquoc{
    background-image: url(./images/malasyia.jpeg);
    border-radius: 30px;
    
}
.krabi{
    background-image: url(./images/phuquoc.jpeg);
    border-radius: 30px;
   
}
.hotels{
    display: grid;
 grid-template-columns: repeat(3,1fr);
 /* width: 1400px;
 height: 700px; */
 gap: 50px;
 /* background-image: url(./images/background.jpeg.jpeg);
 background-repeat: no-repeat;
 background-size: cover; */
 margin-left: 3%;

 
}
.text{
    margin-top: 80%;
    padding-left: 30px;
}
.text h4{
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}
.text h3,
.text h2{
    font-weight: bolder;
   font-style: italic;
    color: white;
    font-size: x-large;
}
#rating{
color: yellow;
}